<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f40a2802b6187dff8911469bf1c1ed0a&libraries=services"></script>
	<link rel="stylesheet" href="stylesheets/upload.css" />
</head>
<body>
	<ul id="navbar">
		<li>
		  <a href="/">firstmap</a>
		</li>
		<li style="float:right;">
		  <a class="active" href="/upload">Upload</a>
		</li>
	  </ul>
	  <div id="map" style="width:100%;height:100vh"></div>
	  <script type="text/javascript" src="javascripts/upload.js"></script>
	</body>
</html>